<div class="mdl-layout-spacer"></div>
<div class="mdl-cell mdl-cell--5-col">
  <div class="mdl-card mdl-shadow--2dp shi-search-form--home">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text">Crear vuelo</h1>
    </div>

    <%= form_for(@flight) do |f| %>
      
      <div class="mdl-textfield mdl-js-textfield">
        <%= f.text_field :num_flight, class: "mdl-textfield__input" %>
        <%= f.label :flight_number, class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <%= f.date_field :date, class: "mdl-textfield__input" %>
        
      </div>    
      <div class="mdl-textfield mdl-js-textfield">        
        <%= f.time_field :depart, class: "mdl-textfield__input" %>
        
      </div>

      <div class="mdl-textfield mdl-js-textfield">      
        <%= f.text_field :from, class: "mdl-textfield__input" %>
        <%= f.label :from, class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">      
        <%= f.text_field :to, class: "mdl-textfield__input" %>
        <%= f.label :to, class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <%= f.text_field :duration, class: "mdl-textfield__input" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <%= f.text_field :cost, class: "mdl-textfield__input" %>
        <%= f.label :cost, class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <%= f.text_field :passengers, class: "mdl-textfield__input" %>
        <%= f.label :passengers, class: "mdl-textfield__label" %>
      </div>

      <div class="mdl-card__actions">
        <%= f.submit "Create flight", class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
      </div>
      
    <% end %>
  </div>
</div>
<div class="mdl-layout-spacer"></div>