<!DOCTYPE html>
<html>
  <head>
    <title>NewFlights</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><%= link_to "Vuelos", root_path %></span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%= link_to "Todos los vuelos", flights_path, class: "mdl-navigation__link" %>
          </nav>
        </div>
      </header>
      
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid container">
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    
  </body>
</html>
